<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        Название организации
        <%= f.text_field :company_name, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        ОГРН
        <%= f.text_field :company_code, class: "form-control" %>
      </div>
      <div class="form-group">
        Адрес
        <%= f.text_field :company_address, class: "form-control" %>
      </div>
      <div class="form-group">
        Пароль
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        Подтверждение
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
