
<div class="form-group nested-fields"> 
  <div class="col-lg-10">
    <%= f.hidden_field :_destroy, :class => 'removable' %>
    <%= f.label "Обследование", :class => 'control-label col-lg-2' %>
    <%= f.collection_select(:examination_id, Examination.all, :id, :name, {:include_hidden => false}, {:multiple => false, :class => 'form-control'}) %>
    <br>
    <%= f.label "Результат", :class => 'control-label col-lg-2' %>
    <%= f.text_field :result, :class => 'form-control' %>
    <%= link_to_remove_association " Удалить ", f, :class => 'control-label col-lg-2' %>
  </div>
</div>

