<div class="form-group nested-fields"> 
  <div class="col-lg-10">
    <%= f.hidden_field :_destroy, :class => 'removable' %>
    <%= f.label "Медикаментозное лечение", :class => 'control-label col-lg-2' %>
    <%= f.collection_select(:medicine_id, Medicine.all, :id, :name, {}, {:multiple => false, :class => "form-control"}) %>
    <br>
    <%= f.label "Дополнительно", :class => 'control-label col-lg-2' %>
    <%= f.text_field :details, :class => 'form-control' %>
    <%= f.label "Дозировка", :class => 'control-label col-lg-2' %>
    <%= f.text_field :dosage, :class => 'form-control' %>
    <%= f.label "Длительность", :class => 'control-label col-lg-2' %>
    <%= f.text_field :duration, :class => 'form-control' %>
    <%= link_to_remove_association " Удалить ", f, :class => 'control-label col-lg-2' %>
  </div>
</div>

