<div class="form-group nested-fields"> 
  <div class="col-lg-10">
    <%= f.hidden_field :_destroy, :class => 'removable' %>
    <%= f.label "Лечение", :class => 'control-label col-lg-2' %>
    <%= f.collection_select(:treatment_factor_id, TreatmentFactor.all, :id, :name, {}, {:multiple => false, :class => 'form-control'}) %>
    
    <br>
    <%= f.label "Дополнительно", :class => 'control-label col-lg-2' %>
    <%= f.text_field :details, :class => 'form-control' %>
    <%= f.label "Количество", :class => 'control-label col-lg-2' %>
    <%= f.text_field :amount, :class => 'form-control' %>
    <%= link_to_remove_association " Удалить ", f, :class => 'control-label col-lg-2' %>
  </div>
</div>

