$("#testdiv").html('<%= render partial: "report" %> ');
<% if @repeated_items_popup > 1 %>
	//sweetAlert("Awesome!");
	swal("Ой", "<%= @repeated_items_popup %> Такой пункт в отчете уже есть!", "error");
<% end %>