<%= form_for ([@doctor, @patient]), :html => { :class => "form-horizontal patient" } do |f| %>

  <% if @patient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :gender, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :gender, Patient.gender.options, {}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:gender) %>
  </div>
  <div class="form-group">
    <%= f.label :birthday, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :birthday, {order: [:day, :month, :year], prompt: { day: 'День', month: 'Месяц', year: 'Год' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true, :class => 'form-control'} %>
    </div>
    <%=f.error_span(:birthday) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'address' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>
  <div class="form-group">
    <%= f.label :area, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :area, Patient.area.options, {}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:area) %>
  </div>
  <div class="form-group">
    <%= f.label :insurance_policy_series, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :insurance_policy_series, :class => 'form-control' %>
    </div>
    <%=f.error_span(:insurance_policy_series) %>
  </div>
  <div class="form-group">
    <%= f.label :insurance_policy_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :insurance_policy_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:insurance_policy_number) %>
  </div>
  <div class="form-group">
    <%= f.label :insurance_certificate, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :insurance_certificate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:insurance_certificate) %>
  </div>
  <div class="form-group">
    <%= f.label :insurance_company, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :insurance_company, :class => 'form-control' %>
    </div>
    <%=f.error_span(:insurance_company) %>
  </div>
  <div class="form-group">
    <%= f.label :social_benefit_code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :social_benefit_code, :class => 'form-control' %>
    </div>
    <%=f.error_span(:social_benefit_code) %>
  </div>
  <div class="form-group">
    <%= f.label :document_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :document_name, ["Паспорт"], {:class => 'form-control'}, {multiple: false} %>
    </div>
    <%=f.error_span(:document_name) %>
  </div>
  <div class="form-group">
    <%= f.label :document_series, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :document_series, :class => 'form-control' %>
    </div>
    <%=f.error_span(:document_series) %>
  </div>
  <div class="form-group">
    <%= f.label :document_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :document_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:document_number) %>
  </div>
  <div class="form-group">
    <%= f.label :martial_status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :martial_status, Patient.martial_status.options, {}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:martial_status) %>
  </div>
    <div class="form-group">
    <%= f.label :education, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :education, Patient.education.options, {}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:education) %>
  </div>
  <div class="form-group">
    <%= f.label :employment, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :employment, Patient.employment.options, {}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:employment) %>
  </div>
  <div class="form-group">
    <%= f.label :disability, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :disability, :class => 'form-control' %>
    </div>
    <%=f.error_span(:disability) %>
  </div>
  <div class="form-group">
    <%= f.label :disability_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :disability_time, Patient.disability_time.options, {}, 
              {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:disability_time) %>
  </div>
  <div class="form-group">
    <%= f.label :disability_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :disability_date, {order: [:day, :month, :year], prompt: { day: 'День', month: 'Месяц', year: 'Год' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true, :class => 'form-control'} %>
    </div>
    <%=f.error_span(:disability_date) %>
  </div>
  <div class="form-group">
    <%= f.label :work_place, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :work_place, :class => 'form-control' %>
    </div>
    <%=f.error_span(:work_place) %>
  </div>
  <div class="form-group">
    <%= f.label :work_position, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :work_position, :class => 'form-control' %>
    </div>
    <%=f.error_span(:work_position) %>
  </div>
  <div class="form-group">
    <%= f.label :blood_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :blood_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:blood_type) %>
  </div>
  <div class="form-group">
    <%= f.label :Rh_factor, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :Rh_factor, Patient.Rh_factor.options, {}, 
              {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:Rh_factor) %>
  </div>
  <div class="form-group">
    <%= f.label :allergy, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :allergy, @allergy_list, {:class => 'form-control', :style => "width: 300px;"}, {multiple: true} %>
    </div>
    <%=f.error_span(:allergy) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                doctor_patients_path(@doctor), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script>
$("#patient_address").suggestions({
      serviceUrl: "https://dadata.ru/api/v2",
      token: "acc5b1223efa0a3083f48d03b2b1fafa8baa9994",
      type: "ADDRESS",
      count: 5,
      onSelect: function(suggestion) {
          $('#company_postal_code').val(suggestion.data.postal_code);
          $('#company_okato').val(suggestion.data.okato);
          $('#company_oktmo').val(suggestion.data.oktmo);
      }
  });
</script>
<script type="text/javascript">
    $("#patient_name").suggestions({
        serviceUrl: "https://suggestions.dadata.ru/suggestions/api/4_1/rs",
        token: "acc5b1223efa0a3083f48d03b2b1fafa8baa9994",
        type: "NAME",
        count: 5,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            console.log(suggestion);
        }
    });
</script>
<script>
$(document).ready(function() {
    $('#patient_allergy')
        .select2( {
            tags: true, width: '100%'
            //tokenSeparators: [',', ' '],
            //tags: [{value: 1, text: 'Паспорт'}]
        });
});
</script>
<script>
$(document).ready(function() {
    $('#patient_document_name')
        .select2( {
            tags: true, width: '100%'
            //tokenSeparators: [',', ' '],
            //tags: [{value: 1, text: 'Паспорт'}]
        });
});
</script>